footer.footer
    ul.tabs
        +footer-link("Home")
            include ../img/icons/house.svg
        +footer-link("Saved")
            include ../img/icons/bookmark.svg
        +footer-link("Upload")
            include ../img/icons/upload.svg
        +footer-link("About")
            include ../img/icons/info.svg