header.nav
    .nav__toggle
        include ../img/icons/list.svg
    a.nav__logo(href="/")
        include ../img/logo/dark-mono.svg
    .nav__blank
    .links
        ul.links__list
            +header-link("Home")
                include ../img/icons/house.svg
            +header-link("Saved")
                include ../img/icons/bookmark.svg
            +header-link("Upload")
                include ../img/icons/upload.svg
            +header-link("About")
                include ../img/icons/info.svg
        .links__build
            p.links__version#version
            p.links__copyright © #{new Date().getFullYear()} TasteBase