@use "../core/colors" as color;
@use "../core/fonts" as font;

@mixin card-width($w) {
    width: $w;
    &__display {
        width: $w;
        height: $w;
    }
}

.card {
    display: flex;
    flex-flow: column nowrap;
    background-color: color.$mono-lite;
    @media screen and (max-width: 374px) {
        @include card-width(calc(100vw - 20px - 16px)); // spacing, padding, gap/2
    }
    @media screen and (min-width: 375px) {
        @include card-width(calc(50vw - 20px - 16px));
    }
    @media screen and (min-width: 600px) {
        @include card-width(calc(33vw - 20px - 16px));
    }
    @media screen and (min-width: 900px) {
        @include card-width(calc(25vw - 20px - 16px));
    }
    @media screen and (min-width: 1200px) {
        @include card-width(calc(20vw - 20px - 16px));
    }
    @media screen and (min-width: 1500px) {
        @include card-width(calc(15vw - 20px - 16px));
    }
    box-shadow: 0 0 8px color.$mono;
    border-radius: 12px;
    &__liked {
        width: 46px;
        height: 46px;
        background-color: color.$mono-lite;
        position: absolute;
        right: 6px;
        top: 6px;
        border-radius: 10px;
        box-shadow: 0 0 4px color.$mono-dark
    }
    &__heart {
        width: 30px;
        fill: color.$mono-lite;
        position: absolute;
        right: 7.75px;
        top: 10px;
        filter: drop-shadow(0 0 2px color.$mono);
        &--liked {
            width: 32px;
            fill: color.$accent;
            position: absolute;
            right: 7px;
            top: 9px;
            filter: none;           
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 12px 12px 0 0;
    }
    &__info {
        padding: 12px;
        display: grid;
    }
    &__allergens {
        display: flex;
        flex-flow: row nowrap;
        background-color: color.$mono-lite;
        grid-row: 1/2;
        justify-self: right;
        padding: 2px;
        border-radius: 8px 0 0 0;
        img {
            width: 20px;
            margin-right: px;
        }        
    }
    &__name {
        @include font.header(18px);
    }
    &__stars {
        display: inline-flex;
        flex-flow: row nowrap;
        margin-right: 8px;
        img {
            width: 9.5px;
            margin-right: 2px;
        }
    }
    &__num-rates {
        @include font.body(10px, color.$mono, bold);
        margin-bottom: -2px;
    }
    &__calories {
        @include font.body(12px, color.$mono-dark, bold);
        display: inline-block;
        margin-right: 8px;
    }
    &__time {
        @include font.body(10px, color.$mono-dark);
    }
}