@use "../core/colors" as color;
@use "../core/fonts" as font;

.card {
    display: flex;
    flex-flow: column nowrap;
    background-color: color.$mono-lite;
    $set-width: calc(50vw - 20px - 16px); // spacing, padding, gap/2
    width: $set-width;
    box-shadow: 0 0 8px color.$mono;
    border-radius: 12px;
    &__display {
        width: $set-width;
        height: $set-width;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 12px 12px 0 0;
    }
    &__info {
        padding: 12px;
    }
    &__name {
        @include font.header(18px);
    }
    &__stars {
        @include font.body(12px);
        display: inline-block;
        margin-right: 8px;
    }
    &__num-rates {
        @include font.body(10px, color.$mono, bold);
    }
    &__calories {
        @include font.body(12px, color.$mono-dark, bold);
        display: inline-block;
        margin-right: 8px;
    }
    &__time {
        @include font.body(10px, color.$mono-dark);
    }
}