@use "../core/colors" as color;
@use "../core/fonts" as font;

.footer {
    transition: filter ease-in-out 0.2s;
}

.tabs {
    background-color: color.$main-dark;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    @include font.body(14px, color.$mono-lite);
    li {
        flex: 1;
    }
    a {
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
        padding: 12px 0;
        svg {
            width: 28px;
            margin-bottom: 4px;
            fill: color.$mono;
        }
        transition: background-color ease-in-out 0.1s;
        &:hover {
            background-color: color.$main-alt;
        }
    }
    &--current {
        background-color: color.$main-alt;
    }
}