@use "../core/colors" as color;
@use "../core/fonts" as font;

.nav {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: color.$main-dark;
    padding: 12px;
    height: 64px;
    &__toggle {
        fill: color.$mono-lite;
        flex: 1;
        svg {
            cursor: pointer;
            width: 48px;
            padding: 8px;
            transition: all ease-in-out 0.2s;
        }
    }
    &__logo {
        margin-top: 3px;
        padding: 12px;
        svg {
            width: 128px;
        }
    }
    &__blank {
        flex: 1;
    }
}

.links {
    background-color: color.$main-darker;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    top: 64px;
    left: -200px;
    padding-top: 16px;
    z-index: 1;
    min-height: calc(100vh - 64px);
    transition: left ease-in-out 0.2s;
    &__item {
        @include font.body(16px, color.$mono-lite, bold);
        a {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: flex-end;
            align-items: center;
            padding: 16px 64px 16px 22px;
            svg {
                width: 40px;
                fill: color.$mono;
                padding-right: 16px;
                margin-bottom: -3px;
            }
            transition: background-color ease-in-out 0.1s;
            &:hover {
                background-color: color.$main-dark;
            }
        }
    }
    &__build {
        @include font.body(12px, color.$mono);
        padding: 16px 64px 24px 22px;
    }
    &--current {
        background-color: color.$main-dark;
    }
}

// js modifiers //

.open {
    left: 0px;
}

.enlarge {
    svg {
        width: 56px;
        margin-left: -4px;
    }
}

.darken {
    filter: brightness(40%);
}