$main:       #85C65A;
$main-alt:   #4A5B28;
$main-dark:  #414B20;
$main-darker:#343A19;
$accent:     #D62027;
$alt-lite:   #F7F3EB;
$alt:        #F89C3A;
$mono-lite:  #F5F5F5;
$mono:       #9D9D9D;
$mono-dark:  #0A0A0A;