@use "../core/colors" as color;
@use "../core/fonts" as font;

.main {
    background-color: color.$alt-lite;
    padding: 20px;
    min-height: calc(100vh - 64px - 73px);
    transition: filter ease-in-out 0.2s;
}

.h1 {
    @include font.header(20px, color.$main-darker);
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 16px;
}

.p {
    @include font.body(14px);
    margin-bottom: 32px;
}