@use "../core/colors" as color;
@use "../core/fonts" as font;

.main {
    background-color: color.$mono-lite;
    padding: 48px;
    min-height: calc(100vh - 64px);
    transition: filter ease-in-out 0.2s;
}

.h1 {
    @include font.header(64px);
}

.h2 {
    @include font.header(40px);
}

.p {
    @include font.body(16px);
    margin-bottom: 32px;
}