doctype html
html(lang="en")
    head
        - const title = "Discover"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 About
            p.p We began with a simple question: How do we get more people to cook their own meals? 
            p.p Everyone knows nothing beats a home-cooked meal, but cooking takes time and ordering takeout is, arguably, more convenient. However, with the rising cost of delivery, more and more people are struggling to find a balance between delicious food and maintaining a budget. 
            p.p TasteBase was created to give people that balance. 
            p.p At TasteBase we provide people easy access to healthy and affordable recipes that anyone can make. We believe cooking is a skill everybody can learn and, with our simple recipes, master. We aim to encourage people to lead healthier, wealthier lives while proving you don’t have to compromise on good taste to do so. 

        include ./includes/footer.pug