doctype html
html(lang="en")
    head
        - const title = "Discover"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 Upload
            p.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vitae id quibusdam cumque error assumenda doloremque, aspernatur eaque! Ipsum illo vel accusantium quia odit adipisci, nemo cumque tempora doloremque quod consectetur explicabo similique nostrum repellendus deserunt quibusdam eaque enim consequuntur id minus suscipit officiis optio sequi? Sint adipisci quasi asperiores!
        include ./includes/footer.pug