doctype html
html(lang="en")
    head
        - const home = true
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            #cards
        include ./includes/footer.pug