doctype html
html(lang="en")
    head
        - const home = true
        - const desc = "Discover tasty new recipes for free on TasteBase."
        include ./includes/_head.pug
    body.body
        h1.h1 It works!
        p.p Here's some extra sample text to make sure you #[b #[i know]] it's working.
        h2.h2 Color tests
        - const colors = ["main", "main-dark", "accent", "alt"];
        .flex
            for color in colors
                div(class=color) #{color}