doctype html
html(lang="en")
    head
        - const title = "Saved"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 Saved
            p.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore doloremque quis consectetur numquam. Doloremque, reprehenderit iste! Ullam quasi cumque iure perferendis veniam totam, ducimus ea asperiores facilis error reiciendis!
            #favoriteCards    
        include ./includes/footer.pug