doctype html
html(lang="en")
    head
        - const title = "Saved"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 Saved
            p.p Your personalized cookbook!
        include ./includes/footer.pug