doctype html
html(lang="en")
    head
        - const title = "Upload"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 Upload
            #uploadBody
        include ./includes/footer.pug