doctype html
html(lang="en")
    head
        - const title = "Upload"
        include ./includes/_head.pug
    body.body
        include ./includes/header.pug
        main.main
            h1.h1 Upload
            p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis, unde minima perferendis, id deleniti blanditiis aspernatur voluptatibus libero ratione molestiae, voluptatem sit laboriosam tempore dignissimos facilis sed maiores consequuntur.
            #uploadBody
        include ./includes/footer.pug